@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url ("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
}

.main-container {
    flex-grow: 1;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    width: 450px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    max-width: 350px;
    margin-left: auto;
}

.logo {
    margin-right: auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation-link-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
}

.greetings {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/background/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    Width: 1200px;
    height: 485px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
    Width: 1200px;
}

.container-photo {
    background-image: url("../images/background/photo1.jpg");
    background-repeat: no-repeat;
    Width: 800px;
    height: 384px;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}

.container-photo2 {
    background-image: url("../images/background/photo2.jpg");
    background-repeat: no-repeat;
    Width: 800px;
    height: 384px;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}

.advantages-tittle {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-description {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
}

.advantages-item {
    font-weight: 400;
    text-align: center;
    width: 400px;
    height: 384px;
}

.advantages-item-tittle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.seach-tittle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.seach-description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.seach-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
}

.newsletter {
    background-image: url("../images/background/background.jpg");
    color: #ffffff;
    background-color: #000000;
    height: 411px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.newsletter-tittle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.newsletter-description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.newsletter-button {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.footer-social {
    margin-right: auto;
    width: 130px;
}

.footer-htmlacademy {
    width: 114.9px;
    margin-left: auto;
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    width: 740px;
}

.catalog-products {
    background-image: url("../images/background/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #000000;
    text-align: left;
    vertical-align: top;
}

.catalog-tittle {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.catalog-filter-tittle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.catalog-filter {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    align-items: center;
}

.searchresults-conteiner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
}

.product-card {
    width: 340px;
}

.searchresults {
    width: 1200px;
    margin: 0 auto;
}

.control-input {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.searchresults {
    color: #000000;
    background-color: #ffffff;
}

.searchresults-description {
    font-size: 30px;
    line-height: 38.82px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.select-control {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-align: left;
}

.product-card-tittle {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

.product-card-price {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.product-card-link {
    text-decoration: none;
}

.product-card-button-more {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #756257;
}

.product-card-button-selected {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #7DB54F;
}

.button-apply {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #83B3D3;
}

.button-reset {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
}

.product-card-button-favorites {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #83B3D3;
}

.select-product-page {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-align: left;
}

.pagination-show-more {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
}

.product-card-button-rating {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.newsletter-inner {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
}

.newsletter-inner-tittle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.blue {
    background-color: #83B3D3;
    color: #ffffff;
}

.blue-transparent {
    background-color: rgba(131, 179, 211, 0.12);
}

.blue-transparent20 {
    background-color: rgba(131, 179, 211, 0.20);
}

.white {
    background-color: #ffffff;
    color: #000000;
}