@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url ("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
  line-height: 21px;
  color:#000000;
  background-color:#FFFFFF;
  }
  .page-header {
    color:#000000;
    background-color:#FFFFFF;
    font-size: 20px;
  line-height: 26px;
  }
  .navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    text-decoration:none;
    }
    .greetings {
    color: #000000;
    background-color: #ffffff;
     background-image: url("images/background/background.jpg");
     background-size: 100% auto;
     background-repeat: no-repeat;
    }
    
.advantages-tittle {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.advantages-description
{
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
}
.advantages-item {
   font-weight: 400;
    text-align: center;
}
.advantages-item-tittle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
.seach-tittle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
.seach-description 
{
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    }
    .newsletter-tittle {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
        }
        
        .newsletter-description {
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            text-align: center;
            }
            .footer-phone {
                font-size: 40px;
            line-height: 40px;
            font-weight: 400;
            text-align: center;
            color: #000000;
            background-color: #ffffff;
            text-decoration:none;
        }
.catalog-products {
    background-image: url("images/background/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.searchresults {
color: #000000;
background-color: #ffffff;}
.searchresults-description {
    font-size: 30px;
    line-height: 38.82px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;

}